/* .css-1rilrdn {
    color: rgb(255,255,255);
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: table-cell
}

.css-1n5cajp {
    color: rgb(255,255,255);
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: table-cell
}

.css-1jlbbd6 {
    display: flex;
    -webkit-box-align: center;
    padding-top: 1rem;
    background-color: #6ABDDB
}

.st-co {
    caret-color: grey
} */